*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.input-block {

    display: flex;
    align-items: center;
}

body {
    background-color: rgb(213, 215, 215);
}

.container {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 10%;
}
input {
    
}


button {
    background-color: rgb(127, 127, 243);
    color: aliceblue;
    border-color: rgb(127, 127, 243);
}

input {
    border-color: aqua;
}

li {
    display: flex;
    justify-content: space-around;
    
}

.li {
    padding-top: 5%;
}